.challengeBoxContainer {
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.05);
    background-color: var(--white);
    border-radius: 8px;
}

.challengeNotActive {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1.5rem 2rem;
}

.challengeNotActive > strong {
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 2rem;
}

.challengeNotActive > p {
    display: flex;
    align-items: center;
    margin-top: 2.5rem;
    text-align: left;
    max-width: 80%;
}

.challengeNotActive > p img {
    margin-right: 1rem;
    width: 2rem;
    height: 2.5rem;
}

.challengeActive {
    height: 100%;
    margin: 1.5rem 2rem;

    display: flex;
    flex-direction: column;
}

.challengeActive > header {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    padding: 0 2rem 1.5rem;
    border-bottom: 2px var(--gray-line) solid;

    color: var(--blue);
    font-size: 1.25rem;
    font-weight: 600;
}

.challengeActive > main {
    margin: 2.25rem 0 2.5rem;

    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.challengeActive > main img {
    width: 8.75rem;
    height: 7rem;
}

.challengeActive > main strong {
    color: var(--title);
    font-size: 2rem;
    line-height: 2.5rem;

    margin: 1.5rem 0 1rem;
}

.challengeActive > main p {
    line-height: 1.5;
}

.challengeBoxContainer > footer {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;

    border-top: 1px var(--gray-line) solid;
}

.challengeBoxContainer > footer > button {
    height: 5rem;

    display: flex;
    justify-content: center;
    align-items: center;

    border: 0;

    font-size: 1rem;
    font-weight: 600;
    color: var(--white);

    /* transition: background-color 0.2s; */
    transition: filter 0.2s;
}

.challengeBoxContainer > footer > button.challengeFailedButton {
    background-color: var(--red-light);
    color: var(--red);

    border-bottom-left-radius: 5px;
}

.challengeBoxContainer > footer > button.challengeFailedButton:hover {
    background-color: var(--red);
    color: var(--white);
}

.challengeBoxContainer > footer > button.challengeSuccededButton {
    background-color: var(--green-light);
    color: var(--green-dark);

    border-left: 1px var(--gray-line) solid;
    border-bottom-right-radius: 5px;
}
.challengeBoxContainer > footer > button.challengeSuccededButton:hover {
    background-color: var(--green);
    color: var(--white);
}

.pairShow {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
    text-align: center;
    max-width: 80%;
}

.pairShow > img{
    width: 3.75rem;
    height: 5rem;
}

.pairShow > p {
    margin-top: 1rem;
}
/* 
.challengeBoxContainer > footer > button:hover {
    filter: brightness(0.9);
} */
