.formContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.formContainer > div {
    display: flex;
}

.formContainer > div > button {
    width: 5rem;
    height: 5rem;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 0px 5px 5px 0;
    border: 0;

    color: var(--white);
    background-color: var(--blue-dark);
    transition: filter 0.2s;
    transition: background-color 0.75s;
}

.formContainer > div > button:hover {
    filter: brightness(0.9);
}

.formContainer > div > button.haveUsername {
    background-color: var(--green);
}

.formContainer > div > input {
    flex: 1;
    height: 5rem;
    padding: 1.25rem 0 1.25rem 1.5rem;

    background-image: linear-gradient(
        90deg,
        #4953b8 0%,
        rgba(85, 97, 215, 0.95) 100%
    );

    border-radius: 5px 0px 0px 5px;
    border: 0;
    outline: none;

    color: var(--white);
    font-size: 1.25rem;
    line-height: 1.75;
}

.formContainer > div > input:hover {
    border: 1.5px solid rgba(65, 74, 163, 1);
}

.formContainer > div > input:focus {
    border: 1.5px solid rgba(65, 74, 163, 1);
}

.formContainer > div > input::placeholder {
    color: var(--text-highlight);
}

.formContainer > label {
    color: var(--red-light);
    font-size: 0.8rem;
    font-weight: 300;
}

.loader {
    border: 3px solid var(--gray-line);
    border-top: 3px solid var(--blue);
    border-radius: 50%;
    width: 1.5rem;
    height: 1.5rem;
    animation: spin 0.5s linear infinite;
}

.signInContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.githubButton {
    display: flex;
    align-items: center;
    padding: 0.625rem 1.25rem;
    background-color: var(--title);
    gap: 0.625rem;
    width: 100%;
    height: 4rem;

    border-radius: 5px;
    border: 0;
    color: var(--white);
    transition: filter 0.2s;
}

.signInContainer > button:hover {
    filter: brightness(0.9);
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
