.loginContainer {
    position: relative;
    width: 100vw;
    height: 100vh;

    display: flex;
    align-items: flex-end;
    justify-content: flex-end;

    background: var(--blue-dark) url('/icons/symbol.svg') no-repeat left;
}

.loginContent {
    position: absolute;
    bottom: 10rem;
    right: 8rem;

    width: 100%;
    max-width: 420px;

    height: 100%;
    max-height: 420px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
    color: var(--white);
}

@media (max-width: 768px) {
    .loginContainer {
        background-size: contain;
    }

    .loginContent {
        position: static;

        max-width: 100%;
        max-height: 100%;
    }
}
