.loginContainer {
    position: relative;
    width: 100vw;
    height: 100vh;

    display: flex;
    align-items: flex-end;
    justify-content: flex-end;

    background: var(--blue) url('/icons/symbol.svg') no-repeat left;
}

.loginContent {
    position: absolute;
    bottom: 10rem;
    right: 8rem;

    width: 100%;
    max-width: 420px;

    height: 100%;
    max-height: 420px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    color: var(--white);
}

.loginContent > strong {
    margin-top: 6rem;
    text-align: left;

    font-size: 2.25rem;
    font-weight: 600;
    line-height: 1.25;
}

.loginToStart {
    display: flex;
    align-items: center;
    text-align: left;

    margin-top: 1.5rem;
    margin-bottom: 2.5rem;
}

.loginToStart > span {
    color: var(--text-highlight);

    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.5;

    margin-left: 24px;
}

@media (max-width: 768px) {
    .loginContainer {
        background-size: contain;
    }

    .loginContent {
        position: static;

        max-width: 100%;
        max-height: 100%;
        padding: 2rem;
    }

    .logoImg {
        align-self: center;
    }
}
